### Import Data

In [2]:
import pandas as pd

### Read CSV

In [6]:
df = pd.read_csv('flowers.csv')
df.head(5)

,name,height (cm),longevity (years),place of origin,color,climate,cut flowers,perfumes,medicine,average number of petals
0,Rose,60-150,1-2,"Europe, Asia","Red, pink, white",Temperate,1,1,1,5-9
1,Tulip,20-70,2-3,Central Asia,"Red, pink, white",Temperate,1,0,1,3-7
2,Daisy,15-60,1-2,"Europe, Asia","White, yellow",Temperate,1,0,1,10-20
3,Sunflower,50-300,1-2,North and South America,"Yellow, orange",Temperate to tropical,1,0,1,10-20
4,Orchid,20-100,5-10,Worldwide,"Purple, pink, white",Tropical,1,1,1,3-50